[Unit]
Description=remote control software
[Service]
Type=simple
ExecStart=/usr/bin/python3.11 /home/amizan8653/Desktop/infrared-remote-project/RemoteControl.py
Restart=always
WorkingDirectory=~
[Install]
WantedBy=multi-user.target